<div class="paperWavy">
    <div class="container">
        <div class="image_wrapper">
            <img id="aboutme_face" src="/img/fabie_circle_face.png">
        </div>
        <div class="row">
            <p>Van kindsbeen af ben ik gebeten door de bakmicrobe. Op zaterdag ging ik naar mijn boezemvriendin in de toenmalige bakkerij spelen. Duizend vragen stellen aan de bakker en als beloning een gebakje naar keuze mogen verorberen....
            </p>
            <p>Vanaf toen zijn alle gelukte experimenten genoteerd in mijn receptenboekjes.
            Samen met hopen knipsels uit magazines en een ferme collectie kookboeken vormen deze mijn persoonlijke database.
            </p>
            <p>Mediterrane invloeden hebben reeds lang een prominente rol in onze dagelijkse keuken.De laatste jaren ben ik steeds meer de zoetigheden ingedoken.
            </p>
            <p>Deze foodblog lijkt mij een geschikte manier om recepten, inspiratie en de ‘passion for food’ te delen.
            Het zal ook een ontdekkingstocht in de digitale fotografie worden.</p>
            <p>Veel kookplezier,</p>
            <p></p>
            <p>Fabienne</p>
        </div>
        <img src="/img/receptenboekje.jpg">
    </div>
</div>
    