<div class="row searchBox" ng-mouseover="showSearchBar()" ng-init="focused=false">
    <a><i id="searcher" class="fa fa-search fa-2x" aria-hidden="true"></i></a>
    <input ng-class="{'active':focused===true}" type="search" placeholder="Search ingredients, name, categories, ..." ng-focus="focused=true" ng-blur="focused=false" ng-model="query">
</div>

<div class="row">
    <div class="col-md-9">
        <article ng-repeat="post in posts | filter:query | limitTo: limit" ng-init="styleClass = alternateStyles($index)">
            <div class="blog-card {{alternateStyles($index)}}">
                <div class="photo" style="background-image: url('../img/{{post.thumbnail}}')"></div>
                <ul class="details">
                    <li class="author"><a href="#">John Doe</a></li>
                    <li class="date">Aug. 24, 2015</li>
                    <!--<li class="tags">
                        <ul>
                            <li><a href="#">Learn</a></li>
                            <li><a href="#">Code</a></li>
                            <li><a href="#">HTML</a></li>
                            <li><a href="#">CSS</a></li>
                        </ul>
                    </li>-->
                </ul>
                <div class="description">
                    <h1><a href="#/post/{{ posts.indexOf(post) }}">{{ post.title }}</a></h1>
                    <h2> Subtitle </h2>
                    <p class="summary">{{ post.exerpt }}</p>
                    <a href="#/post/{{ posts.indexOf(post) }}">Read more &rarr;</a>
                </div>
            </div>
        </article>
    </div>
    <div id="indexColumn" class="offset-md-1 col-md-2">
        <div id="indexColumnWrapper">
            <h1> Index </h1>
            <h3> Zoet </h3>
           <p ng-click="menuGoTo('Taarten')"> Taarten </p>
           <p ng-click=""> Cake </p>
           <p ng-click=""> Koekjes en klein gebak </p>
           <p ng-click=""> Brood en ontbijtgranen </p>
           <p ng-click=""> Ijs en sorbets </p>
           <p ng-click=""> Dessert </p>
           <p ng-click=""> Confituur en chocopasta's </p>
            <h3> Hartig </h3>
           <p ng-click="menuGoTo('aperitief')"> Aperitiefhapjes </p>
           <p ng-click=""> Hartige taarten </p>
           <p ng-click=""> Soep </p>
           <p ng-click=""> Hoofdgerechten </p>
           <p ng-click=""> Pasta's </p>
           <p ng-click=""> Salades </p>
           <p ng-click=""> Vegetarisch </p>
           <p ng-click=""> Bijgerechten </p>
        </div>
        <div id="indexSubmenu" class="notVisible">
            <h1> {{currentCategory}}</h1>
            <p ng-repeat="post in posts | filter: {category: currentCategory}"> {{post.title}} </p>
        </div>
    </div>
</div>
<div class="row">
    <button ng-click="incrementLimit()" type="button" id="showMoreHome" class="btn btn-outline-primary center">Show more</button>
</div>
