.container {
	max-width: 1100px;
	margin: 0 auto;
}

.main-content {
	@media #{$desktop} {
		display: flex;
	}
	padding: 0 30px 50px 30px;
}

.content {
	@media #{$desktop} {
		flex: 1;
	}
}

.searchWrapper {
	margin:0 auto;
	max-width: 700px;
}

.searchBar {
	margin: -40px 10% 0px 10%
}
